@model Exemplo
<div class="exemplo-resumo">
    @if(Model.Avaliacao == "positiva") {
        <span class="exemplo-resumo-avaliacao --positiva glyphicon glyphicon-ok-sign"></span>		
    } else if(Model.Avaliacao == "neutra") {
        <span class="exemplo-resumo-avaliacao --neutra glyphicon glyphicon-minus-sign"></span>		
    } else if(Model.Avaliacao == "negativa") {
        <span class="exemplo-resumo-avaliacao --negativa glyphicon glyphicon-remove-sign"></span>		
    }

    <span class="exemplo-resumo-quem" data-campo="quem">
        @Model.Participante
    </span>
    <span class="exemplo-resumo-tempo" data-campo="tempo">
        <div class="glyphicon glyphicon-time"></div>
        @Model.Tempo
    </span>
</div>
<div class="exemplo-descricao">
    <span class="exemplo-descricao-info --contexto" data-campo="contexto">
        <h2 class="descricao-info-titulo">Contexto e características</h2>
        @Model.Contexto
    </span>
    <span class="exemplo-descricao-info --motivo" data-campo="motivo">
        <h2 class="descricao-info-titulo">Motivo</h2>
        @Model.Motivo
    </span>
    <span class="exemplo-descricao-info --metrica" data-campo="metrica">
        <h2 class="descricao-info-titulo">Formato de verificação</h2>
        @Model.Metrica
    </span>			
    <span class="exemplo-descricao-info --observacao" data-campo="observacao">
        <h2 class="descricao-info-titulo">Observação</h2>
        @Model.Observacao
    </span>
</div>