@model Dinamica
@section Css {
	<link href="~/css/formulario.css" rel="stylesheet">
}
<form asp-controller="Dinamica" asp-action="Edita" method="post" class="gerador">
	<input type="hidden" asp-for="Id">
	<h1 class="gerador-titulo">Divulgue a sua dinâmica</h1>
	<input type="hidden" asp-for="Resumo.Id">
	<label asp-for="Resumo.Titulo" class="gerador-info validado" >
		Título da dinâmica *
		<input asp-for="Resumo.Titulo" placeholder="Título da dinâmica" class="info">
		<span asp-validation-for="Resumo.Titulo"></span>
	</label>
	<div class="gerador-info validado">
		Tipo *
		<div class="lista-tipos">
			@foreach (Tipo tipo in Enum.GetValues(typeof(Tipo)))
			{
				<input type="checkbox" name="Resumo.Tipos[].Tipo" value="@tipo" id="Resumo_Tipos_@tipo" class="info-tipo" checked="@Model.Resumo.TemTipo(tipo)">
				<label for="Resumo_Tipos_@tipo" class="gerador-info_tipo">
					<span class="glyphicon glyphicon-unchecked tipo_deschecado"></span>
					<span class="glyphicon glyphicon-check tipo_checado"></span>
					@tipo.DisplayName()
				</label>
			}
		</div>
		<span asp-validation-for="Resumo.Tipos"></span>
	</div>
	<label asp-for="Resumo.Proposito" class="gerador-info validado">
		Propósito *
		<textarea asp-for="Resumo.Proposito" placeholder="Propósito" rows="5" class="info"></textarea>
		<span asp-validation-for="Resumo.Proposito"></span>
	</label>
	<label asp-for="Resumo.Duracao" class="gerador-info validado">
		Duração *
		<select asp-for="Resumo.Duracao" class="info">
			<option value="Rapida">Muito rápida, na casa dos minutos</option>
			<option value="Media">Leva algumas horas</option>
			<option value="Demorada">Na casa dos dias</option>
			<option value="Ferrou">Essa demora bastante</option>
		</select>
		<span asp-validation-for="Resumo.Duracao"></span>
	</label>
	<label asp-for="Resumo.Material" class="gerador-info validado">
		Material
		<textarea asp-for="Resumo.Material" placeholder="Material" rows="3" class="info"></textarea>
		<span asp-validation-for="Resumo.Material"></span>
	</label>
	<label class="gerador-info">
		Fluxo
		<input type="hidden" asp-for="Fluxo.Id">
		<a onclick="addPasso()" class="clicavel">
			<span class="clicavel-icone glyphicon glyphicon-plus-sign"></span>
			<span class="clicavel-texto">Adicionar passo</span>
		</a>
		<ol class="lista-fluxo">
			@{ int indexPasso = 0; }
			@do
			{
				<li class="validado">
					<input type="hidden" asp-for="Fluxo.Passos[indexPasso].Id">
					<textarea asp-for="Fluxo.Passos[indexPasso].Descricao" placeholder="Descreva o próximo passo" class="lista-item" rows="1" data-posicao="@indexPasso"></textarea>
					<span asp-validation-for="Fluxo.Passos[indexPasso].Descricao"></span>
				</li>
				indexPasso++;
			} while(Model != null && indexPasso < Model.Fluxo.Passos.Count());
		</ol>
	</label>
	<label class="gerador-info">
		Referências úteis
		<a onclick="addLink()" class="clicavel">
			<span class="clicavel-icone glyphicon glyphicon-plus-sign"></span>
			<span class="clicavel-texto">Adicionar referencia</span>
		</a>
		<ul class="lista-links">
			@if(Model != null && Model.Referencias.Count() > 0) {
				@for(int indexRef = 0; indexRef < Model.Referencias.Count(); indexRef++) {
					<li class="validado">
						<input type="hidden" asp-for="Referencias[indexRef].Id">
						<input asp-for="Referencias[indexRef].Descricao" placeholder="Coloque alguma referência para consulta" class="lista-item" data-posicao="@indexRef">
						<span asp-validation-for="Referencias[indexRef].Descricao"></span>
					</li>
				}
			} else {
				<li class="validado">
					<input name="Referencias[0].Descricao" placeholder="Coloque alguma referência para consulta" class="lista-item" data-posicao="0">
				</li>
			}
		</ul>
	</label>
	<fieldset class="exemplo">
		<legend class="exemplo-titulo">Exemplo</legend>
		@for (var i = 0; i < Model.Exemplos.Count; i++)
		{
			@Html.EditorFor(m => m.Exemplos[i])
		}
	</fieldset>
	<button class="botao-cadastro">Salvar</button>	
</form>
@section Scripts {
    <script src="~/js/cadastro.js"></script>
	<script src="~/js/validacao.js"></script>
}