@model Dinamica
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="~/css/reset.css" rel="stylesheet">	
	<link href="~/css/estilo.css" rel="stylesheet">
</head>
<body>
	<div class="dinamica">
		<a asp-action="Edita" asp-controller="Dinamica" asp-route-id="@Model.Id" class="glyphicon glyphicon-edit dinamica-editar" title="Editar"></a>
		<h1 class="dinamica-titulo" data-campo="titulo">
            @Model.Resumo.Titulo
		</h1>
		<div class="dinamica-resumo">		
			<span class="resumo-info --tipo --par" data-campo="tipo">
				<h2 class="resumo-info-titulo">
					<div class=" glyphicon glyphicon-tag "></div>
					Tipo
				</h2>
                @Model.Resumo.Tipo
			</span>
			<span class="resumo-info --proposito --impar" data-campo="proposito">
				<h2 class="resumo-info-titulo">
					<div class="glyphicon glyphicon-screenshot"></div>
					Propósito
				</h2>
                @Model.Resumo.Proposito
			</span>
			<span class="resumo-info --duracao --par" data-campo="duracao">
				<h2 class="resumo-info-titulo"> 
					<div class="glyphicon glyphicon-hourglass"></div>
					Duração
				</h2>
                @Model.Resumo.Duracao
			</span>
			<span class="resumo-info --material --impar" data-campo="material">
				<h2 class="resumo-info-titulo">
					<div class="glyphicon glyphicon-shopping-cart"></div>
					Material
				</h2>
                @Model.Resumo.Material
			</span>
		</div>
		<div class="dinamica-fluxo_basico">
			<h2 class="fluxo_basico-titulo">Fluxo</h2>
			<ol class="lista-fluxo">
                @foreach (Passo passo in Model.Fluxo.Passos)
                {
                    <li>
                        @passo.Descricao
                    </li>
                }
			</ol>
		</div>
		<div class="dinamica-exemplo">
			<div class="exemplo-resumo">

                @if(Model.Exemplos[0].Avaliacao == "positiva") {
                    <span class="exemplo-resumo-avaliacao --positiva glyphicon glyphicon-ok-sign"></span>		
	            } else if(Model.Exemplos[0].Avaliacao == "neutra") {
                    <span class="exemplo-resumo-avaliacao --neutra glyphicon glyphicon-minus-sign"></span>		
	            } else if(Model.Exemplos[0].Avaliacao == "negativa") {
		            <span class="exemplo-resumo-avaliacao --negativa glyphicon glyphicon-remove-sign"></span>		
                }

				<span class="exemplo-resumo-quem" data-campo="quem">
                    @Model.Exemplos[0].Participante
				</span>
				<span class="exemplo-resumo-tempo" data-campo="tempo">
					<div class="glyphicon glyphicon-time"></div>
                    @Model.Exemplos[0].Tempo
				</span>
			</div>
			<div class="exemplo-descricao">
				<span class="exemplo-descricao-info --contexto" data-campo="contexto">
					<h2 class="descricao-info-titulo">Contexto e características</h2>
                    @Model.Exemplos[0].Contexto
				</span>
				<span class="exemplo-descricao-info --motivo" data-campo="motivo">
					<h2 class="descricao-info-titulo">Motivo</h2>
                    @Model.Exemplos[0].Motivo
				</span>
				<span class="exemplo-descricao-info --metrica" data-campo="metrica">
					<h2 class="descricao-info-titulo">Formato de verificação</h2>
                    @Model.Exemplos[0].Metrica
				</span>			
				<span class="exemplo-descricao-info --observacao" data-campo="observacao">
					<h2 class="descricao-info-titulo">Observação</h2>
                    @Model.Exemplos[0].Observacao
				</span>
			</div>
		</div>
		<div class="dinamica-referencias">
			<h2 class="dinamica-referencias-titulo">
				<div class="glyphicon glyphicon-link"></div>
				Links úteis
			</h2>
			<ul class="lista-links">
                @foreach (Referencia referencia in Model.Referencias)
                {
                    <li>
                        @referencia.Descricao
                    </li>
                }
			</ul>
		</div>
	</div>
</body>
<html>