@model IList<Dinamica>
@section Css {	
	<link href="~/css/home.css" rel="stylesheet">
}
<div class="lista-dinamicas">
    <a asp-action="Nova" asp-controller="Dinamica" class="cadastro" draggable="false">
        <span class="cadastro-icone glyphicon glyphicon-plus-sign"></span>
        Nova dinâmica
    </a>
    @foreach (Dinamica dinamica in Model)
    {    
        <a asp-action="Visualiza" asp-controller="Dinamica" asp-route-id="@dinamica.Id" class="dinamica" draggable="false">
            <h1 class="dinamica-titulo">
                @dinamica.Resumo.Titulo
            </h1>
            <span class="dinamica-info --duracao">
                <h2 class="dinamica-info-titulo"> 
                    <div class="glyphicon glyphicon-hourglass"></div>
                    Duração: 
                </h2>
                @dinamica.Resumo.Duracao
            </span>
            <span class="dinamica-info --tipo">
                <h2 class="dinamica-info-titulo">
                    <div class=" glyphicon glyphicon-tag "></div>
                    Tipo:
                </h2>
                @dinamica.Resumo.Tipos
            </span>
            <span class="dinamica-info --proposito">
                <h2 class="dinamica-info-titulo --proposito_titulo"> 
                    <div class="glyphicon glyphicon-screenshot"></div>
                    Proposito
                </h2>
                @dinamica.Resumo.Proposito
            </span>
        </a>
    }
</div>